# Node modules (ignore everywhere)
node_modules/

# Env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build folders
dist/
build/
.next/

# OS files
.DS_Store
Thumbs.db
